force-app/main/default/flows/MT_Process_Visit_Report_Draft_V2.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Call_GenAI_Prompt</name>
        <label>Call GenAI Prompt</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>MT_Voice_Account_MultiModal</actionName>
        <actionType>generatePromptResponse</actionType>
        <connector>
            <targetReference>Parse_JSON_Response</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>Input:Transcript</name>
            <value>
                <elementReference>$Record.Transcript__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Input:Current_Time_and_Date</name>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Input:Allowed_Objects_Config</name>
            <value>
                <elementReference>Get_Object_Config.allowedObjectsConfig</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Input:Account</name>
            <value>
                <elementReference>Get_Account</elementReference>
            </value>
        </inputParameters>
        <nameSegment>MT_Voice_Account_MultiModal</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Get_Object_Config</name>
        <label>Get Object Config</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>mt_GetObjectConfigForPrompt</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Call_GenAI_Prompt</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>configName</name>
            <value>
                <elementReference>$Record.Configuration_Profile__c</elementReference>
            </value>
        </inputParameters>
        <nameSegment>mt_GetObjectConfigForPrompt</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Parse_JSON_Response</name>
        <label>Parse JSON Response</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>mt_VisitReportService</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Update_Draft_Ready</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>jsonResponse</name>
            <value>
                <elementReference>Call_GenAI_Prompt.promptResponse</elementReference>
            </value>
        </inputParameters>
        <nameSegment>mt_VisitReportService</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Send_Notification_To_Admins</name>
        <label>Send Notification To Admins</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <stringValue>0MLKj000000TVv8OAG</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>NotificationBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <stringValue>🔔 New Visit Report Ready!</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>AdminUserIDs</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetPageRef</name>
            <value>
                <stringValue>{"type":"standard__navItemPage","attributes":{"apiName":"MT_Visit_Report_Manager_Home"}}</stringValue>
            </value>
        </inputParameters>
        <nameSegment>customNotificationAction</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <apiVersion>65.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <environments>Default</environments>
    <formulas>
        <name>NotificationBody</name>
        <dataType>String</dataType>
        <expression>&quot;A new visit report for &quot; &amp; {!Get_Account.Name} &amp; &quot; is ready to review. Click to open the Visit Report Manager.&quot;</expression>
    </formulas>
    <interviewLabel>MT Process Visit Report_Draft {!$Flow.CurrentDateTime}</interviewLabel>
    <label>MT Process Visit Report_Draft_V2</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Account</name>
        <label>Get Account</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Object_Config</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Account__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Admin_Users</name>
        <label>Get Admin Users</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Through_Admins</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ProfileId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>00eKj000002nstSIAQ</stringValue>
            </value>
        </filters>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>User</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <loops>
        <name>Loop_Through_Admins</name>
        <label>Loop Through Admins</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Get_Admin_Users</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Add_Admin_ID_To_Collection</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Send_Notification_To_Admins</targetReference>
        </noMoreValuesConnector>
    </loops>
    <assignments>
        <name>Add_Admin_ID_To_Collection</name>
        <label>Add Admin ID To Collection</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>AdminUserIDs</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Through_Admins.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_Admins</targetReference>
        </connector>
    </assignments>
    <variables>
        <name>AdminUserIDs</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <recordUpdates>
        <name>Update_Draft_Processing</name>
        <label>Update Draft - Processing</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Account</targetReference>
        </connector>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Processing</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Draft_Ready</name>
        <label>Update Draft - Ready</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Admin_Users</targetReference>
        </connector>
        <inputAssignments>
            <field>Prompt_Response_JSON__c</field>
            <value>
                <elementReference>Call_GenAI_Prompt.promptResponse</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Reasoning__c</field>
            <value>
                <elementReference>Parse_JSON_Response.reasoning</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Ready</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Summary__c</field>
            <value>
                <elementReference>Parse_JSON_Response.summary</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Update_Draft_Processing</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>New</stringValue>
            </value>
        </filters>
        <object>MT_Visit_Report_Draft__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>InvalidDraft</status>
</Flow>
