force-app/main/default/flows/MT_Process_Visit_Report_Draft.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Call_GenAI_Prompt</name>
        <label>Call GenAI Prompt</label>
        <locationX>176</locationX>
        <locationY>518</locationY>
        <actionName>MT_Voice_Account_MultiModal</actionName>
        <actionType>generatePromptResponse</actionType>
        <connector>
            <targetReference>Parse_JSON_Response</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>Input:Allowed_Objects_Config</name>
            <value>
                <elementReference>Get_Object_Config.allowedObjectsConfig</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Input:Account</name>
            <value>
                <elementReference>Get_Account</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Input:Transcript</name>
            <value>
                <elementReference>$Record.Transcript__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Input:Current_Time_and_Date</name>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputParameters>
        <nameSegment>MT_Voice_Account_MultiModal</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Get_Object_Config</name>
        <label>Get Object Config</label>
        <locationX>176</locationX>
        <locationY>398</locationY>
        <actionName>mt_GetObjectConfigForPrompt</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Call_GenAI_Prompt</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>configName</name>
            <value>
                <elementReference>ConfigProfileName</elementReference>
            </value>
        </inputParameters>
        <nameSegment>mt_GetObjectConfigForPrompt</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Parse_JSON_Response_Action</name>
        <label>Parse JSON Response</label>
        <locationX>176</locationX>
        <locationY>638</locationY>
        <actionName>parsePromptResponse</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Set_Summary_Variable</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>jsonResponse</name>
            <value>
                <elementReference>Call_GenAI_Prompt.promptResponse</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>ParsedSummary</assignToReference>
            <name>summary</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>ParsedReasoning</assignToReference>
            <name>reasoning</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>Send_Notification</name>
        <label>Send Notification</label>
        <locationX>176</locationX>
        <locationY>1118</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <stringValue>MT_Visit_Report_Ready</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>NotificationBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <stringValue>🔔 New Visit Report Ready!</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>NotificationRecipient</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>customNotificationAction</nameSegment>
    </actionCalls>
    <apiVersion>65.0</apiVersion>
    <assignments>
        <name>Add_Recipient_To_Collection</name>
        <label>Add Recipient To Collection</label>
        <locationX>176</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>NotificationRecipient</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.Created_By_User__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Send_Notification</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Summary_Variable</name>
        <label>Set Summary Variable</label>
        <locationX>176</locationX>
        <locationY>758</locationY>
        <assignmentItems>
            <assignToReference>Parse_JSON_Response</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ParsedSummary</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Parse_JSON_Response_2</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ParsedReasoning</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Draft_Ready</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Config_Profile</name>
        <label>Set Config Profile</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <assignmentItems>
            <assignToReference>ConfigProfileName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ConfigProfileFormula</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Object_Config</targetReference>
        </connector>
    </assignments>
    <description>Processes visit report drafts created by AI Agent phone calls. Triggered when a new draft is created with Status = New.</description>
    <environments>Default</environments>
    <formulas>
        <name>ConfigProfileFormula</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK({!$Record.Configuration_Profile__c}), &quot;Default&quot;, {!$Record.Configuration_Profile__c})</expression>
    </formulas>
    <formulas>
        <name>NotificationBody</name>
        <dataType>String</dataType>
        <expression>&quot;Your visit report for &quot; &amp; {!Get_Account.Name} &amp; &quot; is ready to review. Click to open the Visit Report Manager.&quot;</expression>
    </formulas>
    <interviewLabel>Process Visit Report Draft {!$Flow.CurrentDateTime}</interviewLabel>
    <label>MT Process Visit Report Draft</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Account</name>
        <label>Get Account</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_Config_Profile</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Account__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Draft_Processing</name>
        <label>Update Draft - Processing</label>
        <locationX>176</locationX>
        <locationY>38</locationY>
        <connector>
            <targetReference>Get_Account</targetReference>
        </connector>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Processing</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Draft_Ready</name>
        <label>Update Draft - Ready</label>
        <locationX>176</locationX>
        <locationY>878</locationY>
        <connector>
            <targetReference>Add_Recipient_To_Collection</targetReference>
        </connector>
        <inputAssignments>
            <field>Prompt_Response_JSON__c</field>
            <value>
                <elementReference>Call_GenAI_Prompt.promptResponse</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Summary__c</field>
            <value>
                <elementReference>Parse_JSON_Response</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Reasoning__c</field>
            <value>
                <elementReference>Parse_JSON_Response_2</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Ready</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Draft_Error</name>
        <label>Update Draft - Error</label>
        <locationX>440</locationX>
        <locationY>518</locationY>
        <inputAssignments>
            <field>Error_Message__c</field>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Update_Draft_Processing</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>New</stringValue>
            </value>
        </filters>
        <object>MT_Visit_Report_Draft__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>ConfigProfileName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>NotificationRecipient</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ParsedSummary</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ParsedReasoning</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Parse_JSON_Response</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Parse_JSON_Response_2</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
