force-app/main/default/flows/MT_Visit_Report_MultiModal_Advanced.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<!--
================================================================================
MT RECORD SUGGESTION - Lightning Web Component
================================================================================
Author: Michael Tietze, Principal AI Architect
Contact: mtietze@salesforce.com
Created: December 2025
Version: 1.5

COPYRIGHT AND DISTRIBUTION
Copyright © 2025 Salesforce, Inc. All rights reserved.

INTERNAL USE ONLY - This code may not be shared externally or distributed
outside of Salesforce without prior written approval from Michael Tietze
(mtietze@salesforce.com).
================================================================================
-->

<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Call_Prompt_No_Image</name>
        <label>Call Prompt (No Image)</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>MT_Voice_Account_MultiModal_Advanced</actionName>
        <actionType>generatePromptResponse</actionType>
        <connector>
            <targetReference>Voice_Suggestion</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>Input:Allowed_Objects_Config</name>
            <value>
                <elementReference>Get_Object_Config_NoImage.allowedObjectsConfig</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Input:Account</name>
            <value>
                <elementReference>FinalAccountRecord</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Input:Transcript</name>
            <value>
                <elementReference>MT_Einstein_Transcribe.outputText</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Input:Current_Time_and_Date</name>
            <value>
                <elementReference>MT_Einstein_Transcribe.currentDateTime</elementReference>
            </value>
        </inputParameters>
        <nameSegment>MT_Voice_Account_MultiModal_Advanced</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Call_Prompt_With_Image</name>
        <label>Call Prompt (With Image)</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>MT_Voice_Account_MultiModal_Advanced</actionName>
        <actionType>generatePromptResponse</actionType>
        <connector>
            <targetReference>Voice_Suggestion</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>Input:Allowed_Objects_Config</name>
            <value>
                <elementReference>Get_Object_Config_Image.allowedObjectsConfig</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Input:Account</name>
            <value>
                <elementReference>FinalAccountRecord</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Input:Transcript</name>
            <value>
                <elementReference>MT_Einstein_Transcribe.outputText</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Input:Current_Time_and_Date</name>
            <value>
                <elementReference>MT_Einstein_Transcribe.currentDateTime</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Input:Image_File</name>
            <value>
                <elementReference>Create_Image_Document.contentDocument</elementReference>
            </value>
        </inputParameters>
        <nameSegment>MT_Voice_Account_MultiModal_Advanced</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Create_Image_Document</name>
        <label>Create Image Document</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>mt_ImageFileService</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Get_Object_Config_Image</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>base64Data</name>
            <value>
                <elementReference>MT_Einstein_Transcribe.imageBase64</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>fileName</name>
            <value>
                <elementReference>MT_Einstein_Transcribe.imageFileName</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>mimeType</name>
            <value>
                <elementReference>MT_Einstein_Transcribe.imageMimeType</elementReference>
            </value>
        </inputParameters>
        <nameSegment>mt_ImageFileService</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Get_Object_Config_Image</name>
        <label>Get Object Config (Image Path)</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>mt_GetObjectConfigForPrompt</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Call_Prompt_With_Image</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>configName</name>
            <value>
                <elementReference>ConfigurationProfileName</elementReference>
            </value>
        </inputParameters>
        <nameSegment>mt_GetObjectConfigForPrompt</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Get_Object_Config_NoImage</name>
        <label>Get Object Config (No Image Path)</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>mt_GetObjectConfigForPrompt</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Call_Prompt_No_Image</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>configName</name>
            <value>
                <elementReference>ConfigurationProfileName</elementReference>
            </value>
        </inputParameters>
        <nameSegment>mt_GetObjectConfigForPrompt</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Find_Account_via_DataCloud</name>
        <label>Find Account via Data Cloud</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>MT_Account_Finder_Advanced</actionName>
        <actionType>generatePromptResponse</actionType>
        <connector>
            <targetReference>Parse_Account_Response</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>Input:Transcript</name>
            <value>
                <elementReference>MT_Einstein_Transcribe.outputText</elementReference>
            </value>
        </inputParameters>
        <nameSegment>MT_Account_Finder_Advanced</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Parse_Account_Response</name>
        <label>Parse Account Response</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>mt_AccountFinderParser</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Use_Original_Account</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>jsonResponse</name>
            <value>
                <elementReference>Find_Account_via_DataCloud.output</elementReference>
            </value>
        </inputParameters>
        <nameSegment>mt_AccountFinderParser</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>65.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <choices>
        <name>Finish_Choice</name>
        <choiceText>✅ Finish - Records are correct</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>finish</stringValue>
        </value>
    </choices>
    <choices>
        <name>Rerun_Choice</name>
        <choiceText>🔄 Rerun with Different Account</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>rerun</stringValue>
        </value>
    </choices>
    <dynamicChoiceSets>
        <name>Account_Choice_Set</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <object>Account</object>
        <outputAssignments>
            <assignToReference>NewAccountSelectionId</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <customProperties>
        <name>ScreenProgressIndicator</name>
        <value>
            <stringValue>{&quot;location&quot;:&quot;top&quot;,&quot;type&quot;:&quot;simple&quot;}</stringValue>
        </value>
    </customProperties>
    <assignments>
        <name>Use_Original_Account</name>
        <label>Use Original Account</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>FinalAccountRecord</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Parse_Account_Response.accountRecord</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Has_Image</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_To_New_Account</name>
        <label>Update To New Account</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>FinalAccountRecord</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_New_Account_Record</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Has_Image</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Has_Image</name>
        <label>Check Has Image</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Get_Object_Config_NoImage</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Image</defaultConnectorLabel>
        <rules>
            <name>Has_Image</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>MT_Einstein_Transcribe.imageBase64</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>MT_Einstein_Transcribe.imageBase64</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Image_Document</targetReference>
            </connector>
            <label>Has Image</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_If_New_Account_Selected</name>
        <label>Check If New Account Selected</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>No Account Selected</defaultConnectorLabel>
        <rules>
            <name>New_Account_Selected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>NewAccountSelectionId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_New_Account_Record</targetReference>
            </connector>
            <label>New Account Selected</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Next_Action</name>
        <label>Check Next Action</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default</defaultConnectorLabel>
        <rules>
            <name>User_Wants_To_Rerun</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>NextAction</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>rerun</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Select_Different_Account_Screen</targetReference>
            </connector>
            <label>User Wants To Rerun</label>
        </rules>
    </decisions>
    <recordLookups>
        <name>Get_New_Account_Record</name>
        <label>Get New Account Record</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_To_New_Account</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>NewAccountSelectionId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <description>Account-Based Voice Assistant (Advanced) - Create or update records from transcripts and/or images with Account context. Supports business cards, handwritten notes, whiteboards. Use on Account record pages or related records (Contact, Opportunity, etc.).</description>
    <environments>Default</environments>
    <formulas>
        <name>PromptResponseFormula</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK({!Call_Prompt_With_Image.output}), {!Call_Prompt_No_Image.output}, {!Call_Prompt_With_Image.output})</expression>
    </formulas>
    <formulas>
        <name>FoundAccountId</name>
        <dataType>String</dataType>
        <expression>IF(
  ISBLANK({!Find_Account_via_DataCloud.output}),
  {!MT_Einstein_Transcribe.account.Id},
  IF(
    CONTAINS({!Find_Account_via_DataCloud.output}, &quot;accountId&quot;),
    MID(
      {!Find_Account_via_DataCloud.output},
      FIND(&quot;accountId&quot;, {!Find_Account_via_DataCloud.output}) + 13,
      18
    ),
    {!MT_Einstein_Transcribe.account.Id}
  )
)</expression>
    </formulas>
    <interviewLabel>MT Voice Assistant (Account - Advanced) {!$Flow.CurrentDateTime}</interviewLabel>
    <label>MT Voice Assistant (Account-Based Advanced)</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <screens>
        <name>Transcription_Screen</name>
        <label>Transcription Screen</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Find_Account_via_DataCloud</targetReference>
        </connector>
        <fields>
            <name>MT_Einstein_Transcribe</name>
            <extensionName>c:mtEinsteinTranscribe</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>einsteinTranscribe</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>enableImageInput</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>recordId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showProviderSelectorProp</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Voice_Suggestion</name>
        <label>Record Suggestion</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>MT_Record_Suggestion</name>
            <extensionName>c:mtRecordSuggestion</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>payload</name>
                <value>
                    <elementReference>PromptResponseFormula</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>accountId</name>
                <value>
                    <elementReference>FinalAccountRecord.Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>configName</name>
                <value>
                    <elementReference>ConfigurationProfileName</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Account_Info_Section</name>
            <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;─────────────────────────────────────────&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;font-size: 16px;&quot;&gt;🎯 Account Used&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;The AI detected and used this account: &lt;b style=&quot;background-color: rgb(234, 242, 255); color: rgb(1, 68, 134); padding: 4px 8px;&quot;&gt; {!FinalAccountRecord.Name} &lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(115, 115, 115);&quot;&gt;💡 &lt;/span&gt;&lt;i style=&quot;color: rgb(115, 115, 115);&quot;&gt;If this is the wrong account, select &amp;quot;Rerun with Different Account&amp;quot; below.&lt;/i&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>NextAction</name>
            <choiceReferences>Finish_Choice</choiceReferences>
            <choiceReferences>Rerun_Choice</choiceReferences>
            <dataType>String</dataType>
            <fieldText>What would you like to do?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <nextOrFinishButtonLabel>Next</nextOrFinishButtonLabel>
        <connector>
            <targetReference>Check_Next_Action</targetReference>
        </connector>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Select_Different_Account_Screen</name>
        <label>Select Different Account</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Check_If_New_Account_Selected</targetReference>
        </connector>
        <fields>
            <name>Rerun_Instructions</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;font-size: 18px;&quot;&gt;🔄 Select Different Account&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Current account: &lt;b style=&quot;background-color: rgb(234, 242, 255); color: rgb(1, 68, 134); padding: 4px 8px;&quot;&gt;{!FinalAccountRecord.Name}&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Search for and select the correct account below. The system will regenerate all records using your original transcript with the new account.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>NewAccountSelection</name>
            <choiceReferences>Account_Choice_Set</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select Account</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <nextOrFinishButtonLabel>Regenerate Records</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Transcription_Screen</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>NewAccountSelectionId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ConfigurationProfileName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Default</stringValue>
        </value>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>FinalAccountRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
</Flow>
