force-app/main/default/flows/MT_Visit_Report_MultiModal.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<!--
================================================================================
MT RECORD SUGGESTION - Lightning Web Component
================================================================================
Author: Michael Tietze, Principal AI Architect
Contact: mtietze@salesforce.com
Created: December 2025
Version: 1.5

COPYRIGHT AND DISTRIBUTION
Copyright © 2025 Salesforce, Inc. All rights reserved.

INTERNAL USE ONLY - This code may not be shared externally or distributed
outside of Salesforce without prior written approval from Michael Tietze
(mtietze@salesforce.com).
================================================================================
-->

<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Call_Prompt_No_Image</name>
        <label>Call Prompt (No Image)</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>MT_Voice_Account_MultiModal</actionName>
        <actionType>generatePromptResponse</actionType>
        <connector>
            <targetReference>Voice_Suggestion</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>Input:Allowed_Objects_Config</name>
            <value>
                <elementReference>Get_Object_Config_NoImage.allowedObjectsConfig</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Input:Account</name>
            <value>
                <elementReference>MT_Einstein_Transcribe.account</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Input:Transcript</name>
            <value>
                <elementReference>MT_Einstein_Transcribe.outputText</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Input:Current_Time_and_Date</name>
            <value>
                <elementReference>MT_Einstein_Transcribe.currentDateTime</elementReference>
            </value>
        </inputParameters>
        <nameSegment>MT_Voice_Account_MultiModal</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Call_Prompt_With_Image</name>
        <label>Call Prompt (With Image)</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>MT_Voice_Account_MultiModal</actionName>
        <actionType>generatePromptResponse</actionType>
        <connector>
            <targetReference>Voice_Suggestion</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>Input:Allowed_Objects_Config</name>
            <value>
                <elementReference>Get_Object_Config_Image.allowedObjectsConfig</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Input:Account</name>
            <value>
                <elementReference>MT_Einstein_Transcribe.account</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Input:Transcript</name>
            <value>
                <elementReference>MT_Einstein_Transcribe.outputText</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Input:Current_Time_and_Date</name>
            <value>
                <elementReference>MT_Einstein_Transcribe.currentDateTime</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Input:Image_File</name>
            <value>
                <elementReference>Create_Image_Document.contentDocument</elementReference>
            </value>
        </inputParameters>
        <nameSegment>MT_Voice_Account_MultiModal</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Create_Image_Document</name>
        <label>Create Image Document</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>mt_ImageFileService</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Get_Object_Config_Image</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>base64Data</name>
            <value>
                <elementReference>MT_Einstein_Transcribe.imageBase64</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>fileName</name>
            <value>
                <elementReference>MT_Einstein_Transcribe.imageFileName</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>mimeType</name>
            <value>
                <elementReference>MT_Einstein_Transcribe.imageMimeType</elementReference>
            </value>
        </inputParameters>
        <nameSegment>mt_ImageFileService</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Get_Object_Config_Image</name>
        <label>Get Object Config (Image Path)</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>mt_GetObjectConfigForPrompt</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Call_Prompt_With_Image</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>configName</name>
            <value>
                <elementReference>ConfigurationProfileName</elementReference>
            </value>
        </inputParameters>
        <nameSegment>mt_GetObjectConfigForPrompt</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Get_Object_Config_NoImage</name>
        <label>Get Object Config (No Image Path)</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>mt_GetObjectConfigForPrompt</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Call_Prompt_No_Image</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>configName</name>
            <value>
                <elementReference>ConfigurationProfileName</elementReference>
            </value>
        </inputParameters>
        <nameSegment>mt_GetObjectConfigForPrompt</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>65.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <customProperties>
        <name>ScreenProgressIndicator</name>
        <value>
            <stringValue>{&quot;location&quot;:&quot;top&quot;,&quot;type&quot;:&quot;simple&quot;}</stringValue>
        </value>
    </customProperties>
    <decisions>
        <name>Check_Has_Image</name>
        <label>Check Has Image</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Get_Object_Config_NoImage</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Image</defaultConnectorLabel>
        <rules>
            <name>Has_Image</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>MT_Einstein_Transcribe.imageBase64</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>MT_Einstein_Transcribe.imageBase64</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Image_Document</targetReference>
            </connector>
            <label>Has Image</label>
        </rules>
    </decisions>
    <description>Account-Based Voice Assistant - Create or update records from transcripts and/or images with Account context. Supports business cards, handwritten notes, whiteboards. Use on Account record pages or related records (Contact, Opportunity, etc.).</description>
    <environments>Default</environments>
    <formulas>
        <name>PromptResponseFormula</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK({!Call_Prompt_With_Image.output}), {!Call_Prompt_No_Image.output}, {!Call_Prompt_With_Image.output})</expression>
    </formulas>
    <interviewLabel>MT Voice Assistant (Account) {!$Flow.CurrentDateTime}</interviewLabel>
    <label>MT Voice Assistant (Account-Based)</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <screens>
        <name>Transcription_Screen</name>
        <label>Transcription Screen</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Check_Has_Image</targetReference>
        </connector>
        <fields>
            <name>MT_Einstein_Transcribe</name>
            <extensionName>c:mtEinsteinTranscribe</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>einsteinTranscribe</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>enableImageInput</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>recordId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showProviderSelectorProp</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Voice_Suggestion</name>
        <label>Record Suggestion</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>MT_Record_Suggestion</name>
            <extensionName>c:mtRecordSuggestion</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>payload</name>
                <value>
                    <elementReference>PromptResponseFormula</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>accountId</name>
                <value>
                    <elementReference>MT_Einstein_Transcribe.account.Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>configName</name>
                <value>
                    <elementReference>ConfigurationProfileName</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Transcription_Screen</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>ConfigurationProfileName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Default</stringValue>
        </value>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
